.icon-autogenerate{
	background:url('icons/autogenerate.png') no-repeat center center;
}
.icon-programlocation{
	background:url('icons/programlocation.png') no-repeat center center;
}
.icon-usergroup{
	background:url('icons/usergroup.png') no-repeat center center;
}
.icon-brand{
	background:url('icons/brand.png') no-repeat center center;
}
.icon-add{
	background:url('icons/add.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-pencil{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-house{
	background:url('icons/house.png') no-repeat center center;
}
.icon-box{
	background:url('icons/box.png') no-repeat center center;
}
.icon-task{
	background:url('icons/task.png') no-repeat center center;
}
.icon-ticket{
	background:url('icons/ticket.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-group{
	background:url('icons/group.png') no-repeat center center;
}
.icon-select{
	background:url('icons/select.png') no-repeat center center;
}
.icon-info{
	background:url('icons/info.png') no-repeat center center;
}
.icon-group2{
	background:url('icons/group2.png') no-repeat center center;
}
.icon-developer{
	background:url('icons/developer.png') no-repeat center center;
}
.icon-admin{
	background:url('icons/admin.png') no-repeat center center;
}
.icon-manager{
	background:url('icons/manager.png') no-repeat center center;
}
.icon-taskboard{
	background:url('icons/taskboard.png') no-repeat center center;
}
.icon-config{
	background:url('icons/config.png') no-repeat center center;
}
.icon-open{
	background:url('icons/open.png') no-repeat center center;
}
.icon-close{
	background:url('icons/close.png') no-repeat center center;
}
.icon-complete{
	background:url('icons/complete.png') no-repeat center center;
}
.icon-unknown{
	background:url('icons/unknown.png') no-repeat center center;
}
.icon-reopen{
	background:url('icons/reopen.png') no-repeat center center;
}
.icon-preview{
	background:url('icons/preview.png') no-repeat center center;
}
.icon-stask{
	background:url('icons/stask.png') no-repeat center center;
}
.icon-waiting{
	background:url('icons/waiting.png') no-repeat center center;
}
.icon-stuck{
	background:url('icons/stuck.png') no-repeat center center;
}
.icon-comment{
	background:url('icons/comment.png') no-repeat center center;
}
.icon-date{
	background:url('icons/date.png') no-repeat center center;
}
.icon-up{
	background:url('icons/up.png') no-repeat center center;
}
.icon-progress{
	background:url('icons/progress.png') no-repeat center center;
}
.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-CPPExpert_png{background:url('icons/CPPExpert.png') no-repeat center center;}

.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-Python_png{background:url('icons/Python.png') no-repeat center center;}

.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-Python_png{background:url('icons/Python.png') no-repeat center center;}

.icon-add_png{background:url('icons/add.png') no-repeat center center;}

.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-Python_png{background:url('icons/Python.png') no-repeat center center;}

.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-Python_png{background:url('icons/Python.png') no-repeat center center;}

.icon-NANO_0717_bmp{background:url('icons/NANO_0717.bmp') no-repeat center center;}

.icon-IMG_5348_jpg{background:url('icons/IMG_5348.jpg') no-repeat center center;}

.icon-filemanager_png{background:url('icons/filemanager.png') no-repeat center center;}

.icon-adddb_png{background:url('icons/adddb.png') no-repeat center center;}

.icon-admin_png{background:url('icons/admin.png') no-repeat center center;}

.icon-agent_png{background:url('icons/agent.png') no-repeat center center;}

.icon-autogenerate_png{background:url('icons/autogenerate.png') no-repeat center center;}

.icon-battery_png{background:url('icons/battery.png') no-repeat center center;}

.icon-box_png{background:url('icons/box.png') no-repeat center center;}

.icon-box_png{background:url('icons/box.png') no-repeat center center;}

.icon-brand_png{background:url('icons/brand.png') no-repeat center center;}

.icon-building_png{background:url('icons/building.png') no-repeat center center;}

.icon-buildingfloor_png{background:url('icons/buildingfloor.png') no-repeat center center;}

.icon-cancel_png{background:url('icons/cancel.png') no-repeat center center;}

.icon-close_png{background:url('icons/close.png') no-repeat center center;}

.icon-closed_f_png{background:url('icons/closed_f.png') no-repeat center center;}

.icon-comment_png{background:url('icons/comment.png') no-repeat center center;}

.icon-complete_png{background:url('icons/complete.png') no-repeat center center;}

.icon-config_png{background:url('icons/config.png') no-repeat center center;}

.icon-country_png{background:url('icons/country.png') no-repeat center center;}

.icon-cplogo_png{background:url('icons/cplogo.png') no-repeat center center;}

.icon-CPPExpert_png{background:url('icons/CPPExpert.png') no-repeat center center;}

.icon-CSharpExpert_png{background:url('icons/CSharpExpert.png') no-repeat center center;}

.icon-CSS_gif{background:url('icons/CSS.gif') no-repeat center center;}

.icon-currency_png{background:url('icons/currency.png') no-repeat center center;}

.icon-data_png{background:url('icons/data.png') no-repeat center center;}

.icon-date_png{background:url('icons/date.png') no-repeat center center;}

.icon-department_png{background:url('icons/department.png') no-repeat center center;}

.icon-reopen_png{
background:url('icons/reopen.png') no-repeat center center;}

.icon-manager_png{
background:url('icons/manager.png') no-repeat center center;}

.icon-reload_png{
background:url('icons/reload.png') no-repeat center center;}

.icon-reload_png{
background:url('icons/reload.png') no-repeat center center;}

.icon-close_png{
background:url('icons/close.png') no-repeat center center;}

.icon-add_png{
background:url('icons/add.png') no-repeat center center;}

.icon-unknown_png{
background:url('icons/unknown.png') no-repeat center center;}

.icon-complete_png{
background:url('icons/complete.png') no-repeat center center;}

.icon-waiting_png{
background:url('icons/waiting.png') no-repeat center center;}

.icon-stuck_png{
background:url('icons/stuck.png') no-repeat center center;}

.icon-brand_png{
background:url('icons/brand.png') no-repeat center center;}

.icon-battery_png{
background:url('icons/battery.png') no-repeat center center;}

.icon-adddb_png{
background:url('icons/adddb.png') no-repeat center center;}

.icon-databaseadd_png{
background:url('icons/databaseadd.png') no-repeat center center;}

.icon-databaseadd_png{
background:url('icons/databaseadd.png') no-repeat center center;}

.icon-stuck_png{
background:url('icons/stuck.png') no-repeat center center;}

.icon-CPPExpert_png{background:url('icons/CPPExpert.png') no-repeat center center;}

.icon-Python_png{background:url('icons/Python.png') no-repeat center center;}

.icon-comment_png{background:url('icons/comment.png') no-repeat center center;}

.icon-buildingfloor_png{background:url('icons/buildingfloor.png') no-repeat center center;}

.icon-config_png{background:url('icons/config.png') no-repeat center center;}

.icon-building_png{
background:url('icons/building.png') no-repeat center center;}

.icon-building_png{
background:url('icons/building.png') no-repeat center center;}

.icon-groupmodule_gif{
background:url('icons/groupmodule.gif') no-repeat center center;}

.icon-filemanager_png{
background:url('icons/filemanager.png') no-repeat center center;}

.icon-currency_png{
background:url('icons/currency.png') no-repeat center center;}

.icon-comment_png{
background:url('icons/comment.png') no-repeat center center;}

.icon-CPPExpert_png{background:url('icons/CPPExpert.png') no-repeat center center;}

.icon-brand_png{background:url('icons/brand.png') no-repeat center center;}

.icon-config_png{
background:url('icons/config.png') no-repeat center center;}

.icon-config_png{
background:url('icons/config.png') no-repeat center center;}

.icon-export_png{
background:url('icons/export.png') no-repeat center center;}

.icon-emergencyrequestorder_png{
background:url('icons/emergencyrequestorder.png') no-repeat center center;}

.icon-export_png{
background:url('icons/export.png') no-repeat center center;}
